* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(77, 1, 46);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    color: #FFF;
    margin-bottom: 20px;
    text-align: center;
    
}

section {
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(81, 152, 170);
}

.keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
    
}
.key {
    width: 80px;
    height: 80px;
    border: 2px solid #FFF;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    
}
.key.active {
    border: 2px solid rgb(255, 0, 149);
    color: rgb(255, 0, 149);
}

.composer {
    width: 260px;
    margin-top: 20px;
    
    
}
.composer #input {
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(255, 0, 149);
}
.composer button {
    width: 100%;
    height: 40px;
    background: none;
    border: 2px solid #FFF;
    border-radius: 50px;
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.composer button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
    
}